.site-header {
 background-color: white;
 border-bottom: 1px solid #ddd;
 padding: 20px;
}

.header-container {
 display: flex;
 align-items: center;
 gap: 20px;
}

.logo {
 height: 60px;
}

.site-header h1 {
 font-size: 24px;
 font-weight: 500;
}
